@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kustomisasi Scrollbar agar terlihat lebih modern */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

/* Memastikan gambar tarot proporsional */
img {
    user-drag: none;
    -webkit-user-drag: none;
}